

body {
    background-color: black;
}

#board {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#player {
    background-color: greenyellow;
    position: absolute;
}

.obstacle {
    background-color: orange;
    position: absolute;
}